mixin popup(data)
  .popup&attributes(attributes)
      h2.popup__title Спасибо за проявленное доверие!
      .popup__text 
        p Мы перезвоним в течении 3-х минут
      
      .popup__note Предлагаем перейти в наш интернет-магазин и посмотреть другие гаджеты!

      a.popup__button.button(href="#") В МАГАЗИН
      a.popup__shop-link(href="#") перейти на сайт 
        img(src='assets/images/general/logo.png', srcset='assets/images/general/logo@2x.png 2x, assets/images/general/logo@3x.png 3x' alt='mi:store')

mixin popup-leave(data)
  .popup&attributes(attributes)
      h2.popup__title Вам не подходит это предложение?
      .popup__note Оставьте номер телефона, мы вам перезвоним и расскажем про другие товары и действующие акции

      .popup__form.form.form_theme_leave
        form.form__w(action="mail.php" method="post" data-title="Уходит")
          input.form__hidden(type="hidden", name="form_title", value="Уходит")
          .form__row
            .form__field.form__field_phone
              input.form__input(type="text", value="", placeholder="Введите номер", name="phone" required)
            input.form__submit(type="submit", value="ОТПРАВИТЬ")

      a.popup__shop-link(href="#") перейти на сайт 
        img(src='assets/images/general/logo.png', srcset='assets/images/general/logo@2x.png 2x, assets/images/general/logo@3x.png 3x' alt='mi:store')

mixin popup-callback(data)
  .popup&attributes(attributes)
      h2.popup__title Заказ обратного звонка
      .popup__note Оставьте номер телефона, мы вам перезвоним и расскажем про другие товары и действующие акции

      .popup__form.form.form_theme_leave
        form.form__w(action="mail.php" method="post")
          input.form__hidden(type="hidden", name="form_title", value="Заказать звонок")
          .form__row
            .form__field.form__field_phone
              input.form__input(type="text", value="", placeholder="Введите номер", name="phone" required)
            input.form__submit(type="submit", value="ОТПРАВИТЬ")

      a.popup__shop-link(href="#") перейти на сайт 
        img(src='assets/images/general/logo.png', srcset='assets/images/general/logo@2x.png 2x, assets/images/general/logo@3x.png 3x' alt='mi:store')