mixin footer(data)
  footer.footer
    .footer__container.container
      a.footer__phone(href="tel:+79871401381") 8 (987) 140 13 81
      a.footer__logo(href="#")
        img(src='assets/images/general/logo.png', srcset='assets/images/general/logo@2x.png 2x, assets/images/general/logo@3x.png 3x' alt='mi:store')


