mixin header(data)
  header.header
    .header__container.container
      .header__logo-w
        a.header__logo(href="#")
          img(src='assets/images/general/logo.png', srcset='assets/images/general/logo@2x.png 2x, assets/images/general/logo@3x.png 3x' alt='mi:store')
        .header__slogan магазин цифровой <br/>техники в Уфе

      .header__address г.Уфа, ул. 50 лет октября <br/>18 ост. Дом печати

      .header__phone
        a.header__phone-val(href="tel:+79871401381") 8 (987) 140 13 81 
        a.header__phone-text.open-popup(href="#callback") 
          span заказать звонок

